.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusModal {
  background-color: white;
  color: var(--secondary-color);
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  z-index: 2001;
  width: 90%;
  max-width: 500px;
  text-align: center;
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.statusModal h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.statusModal p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.closeButton {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.2s, transform 0.2s;
}

.closeButton:hover {
  background-color: #c82a1f;
  transform: scale(1.05);
}